.wrapper-albums{
    text-align: center;
    padding: 30px 0;
}

.title{
    font-size: 30px;
}

.list{
    margin-top: 15px;
}

.list-item{
    padding: 10px;
}

.list-item__todo{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin:  auto;
    padding: 3px;
  }