.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 14% 600px;
    padding: 100px 0;
    background-color: black;
    border-radius: 20px;
}
.counter{
    font-size: 30px;
    color: white;
}
.wrapper{
    display: flex;
    gap: 25px;
}

.btn{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 25px;
    color: black;
    background-color: white;
    font-size: 20px;
    outline: none;
}