.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.user-container{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
}

.user-list{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}